/* FOR IMAGES OF VEHILCES
Links & Credits to Author
https://www.flaticon.com/packs/transport-9

https://www.flaticon.com/packs/transport-17

https://www.flaticon.com/packs/transport-48

https://www.flaticon.com/packs/transport-logos-3
*/


/*============= FONTS =============*/

.font-custom-large {
  font-size: larger;
  font-weight: bold;
}

/*========== End of FONTS ==========*/

#navbar-scroll {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display:block;
  transition: top 0.5s;
  z-index: 1000;
}


.bg-transparent-2 {
  background-color: rgba(0,0,0,.075);
}

.bg-transparent-primary {
  background-color: rgba(0,123,255,.5)!important;
}

.hero-header {
  max-width: 700px;
  /* min-height: 700px; */
}

.border-custom-base {
  border: 2px solid rgba(0, 0, 0, 0.10);
  border-radius: 10px;
}

.box-shadow {
  box-shadow: 0 0.25rem 2.75rem rgba(0, 0, 0, .25);
}

.form-center {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

[type="text"].custom-placeholder::-webkit-input-placeholder {
  /* color: orange; */
  font-style: italic;
  font-size: smaller;
}

/*For modal box */

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

/* .login-form-container {
  max-width: 275px;
  margin: 0 auto;
} */

/* =================================== For CARD =======================================*/

.card-shadow {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
}

.card-shadow:hover {
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
}

/* custom radio button*/

label>input {
  /* HIDE RADIO */
  visibility: hidden;
  /* Makes input not-clickable */
  position: absolute;
  /* Remove input from document flow */
}

label>input+img {
  /* IMAGE STYLES */
  cursor: pointer;
  border: 2px solid transparent;
}

label>input:checked+img {
  /* (RADIO CHECKED) IMAGE STYLES */
  border: 4px solid #f00;
}

label>input+div {
  /* IMAGE STYLES */
  cursor: pointer;
  border: 2px solid green;
}

label>input:checked+div {
  /* IMAGE STYLES */
  cursor: pointer;
  /* border:5px solid purple; */
  background-color: peachpuff;
}

label>input#cars:checked+div {
  /* IMAGE STYLES */
  cursor: pointer;
  /* border:5px solid purple; */
  background-color: #E74856;
}

/* label > input#cars:not(checked) + div {
  cursor:pointer;
  background-color: #fff;
} */

label>input#motorcycles:checked+div {
  /* IMAGE STYLES */
  cursor: pointer;
  /* border:5px solid purple; */
  background-color: #17acff;
}

label>input#others:checked+div {
  /* IMAGE STYLES */
  cursor: pointer;
  /* border:5px solid purple; */
  background-color: #00CC6A;
}

label>input#cars:checked+div img, label>input#cars:checked+div h5 {
  /* CARD IMAGE STYLES */
  filter: invert(100%);
}

label>input#motorcycles:checked+div img, label>input#motorcycles:checked+div h5 {
  /* CARD IMAGE STYLES */
  filter: invert(100%);
}

label>input#others:checked+div img, label>input#others:checked+div h5 {
  /* CARD IMAGE STYLES */
  filter: invert(100%);
}

.hide {
  display: none;
}

.hide-onDesktop {
  display: none;
}

#table-result {
  zoom: 0.8;
}

/* Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
  .card-title.custom {
    font-size: smaller;
  }

  .card-body.custom-padding {
    padding: 10px;
  }


}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

  .hide-onMobile {
    display: none;
  }

  /* .hide-onDesktop {
    display: none;
  } */

 }

/* .card-body {
  min-height: 120px!important;

} */

/* =========================== End of  For CARD ===================================*/





/* ==================== FOOTER ==================== */

footer a {
  color: white;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /* height: 60px; */
  /* line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
